#space1, #space2, #space3,  #space4, #space5, #space6, #space7, #space8, #space9 {
  border: 2px solid black;
  height: 300px;
  width: 300px;
}
.box-option {
  max-width: 200px;
  float: left;
}

.buttons {
  margin-top: 20px;
}
img {
  width: 175px;
}

.display1 {
  
}

/*#markO {
  display: none;
}*/
