#space1 {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 300px;
  height: 300px;
}
#space2 {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 300px;
  height: 300px;
}
#space3 {
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 300px;
  height: 300px;
}
#space4 {
  border-right: 2px solid gray;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 300px;
  height: 300px;
}
#space5 {
  border: 2px solid gray;
  width: 300px;
  height: 300px;
}
#space6 {
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 300px;
  height: 300px;
}
#space7 {
  border-right: 2px solid gray;
  border-top: 2px solid gray;
  width: 300px;
  height: 300px;
}
#space8 {
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  border-top: 2px solid gray;
  width: 300px;
  height: 300px;
}
#space9 {
  border-left: 2px solid gray;
  border-top: 2px solid gray;
  width: 300px;
  height: 300px;
}
.label {
  color: #4EDED7;
  text-shadow: 2px -2px 8px #EBF0A8;
  }
.box-option {
  max-width: 200px;
  float: left;
}
.buttons {
  margin-top: 20px;
}
img {
  width: 225px;
  margin-left: 2em;
}
button {
  margin-top: 10px;
}
#box-option {
  width: 175px;
  margin-top:10px;
}
#box-option2 {
  width: 175px;
  margin-top: 10px;
  display: none;
}
body {
  background: radial-gradient(#2a4596, black);
  margin-bottom: 50px;
}
.container {
  margin-left: 30%;
}
.jumbotron {
  margin-left: 16%;
  font-size: 5em;
  font-weight: bolder;
  font-family: Papyrus;
  color: #34D607;
  text-shadow: 2px -5px 8px #EBF0A8;
}
p {
  font-family: Papyrus;
  color: #4EDED7;
  text-shadow: 2px -5px 8px #EBF0A8;
}
form {
  text-align: center;
  margin-left: 30%;
}

.btn-success {
  margin-left: 32.5%;
}
.modal-body {
  text-align: center;
  background: radial-gradient(#2a4596, black);
  color: #4EDED7;
  text-shadow: 2px -5px 8px #EBF0A8;
}
